# Ignore log
npm-debug.log

# Ignore node and bower packages
app/js/bower_components/*
node_modules/*

# Ignore compiled code
app/web/*

# Ignore mac files
.DS_Store
**/*/.DS_Store

# Ignore notes
notes/progress/*