<input placeholder="Campaign Name" id="name" type="text"></input>
<input placeholder="How many people do you want to join?" id="target" type="text"></input>
<input placeholder="What are you asking people to do?" id="callToAction" type="text" width="150" height="300"></input>
<div id="create">Create/Update</div>