<!doctype html>
<html lang="en" data-framework="backbonejs">
<head>
    <title>Workbench</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
	<script data-main="/js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
</body>
</html>
