<!doctype html>
<!--[if lte IE 8]><html class="ie8"><![endif]-->
<!--[if !IE]><!--><html ng-app="strikestarter" ng-model="glb"><!--<![endif]-->
<head lang="en-US">
    <base href="/">
    <title>StrikeStarter</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%- include base/stylesheets.ejs %>
</head>
<body>
    <div class="row">
        <div class="columns small-12">The kid</div>
        <div class="columns small-12 medium-4">1</div>
        <div class="columns small-12 medium-4">2</div>
        <div class="columns small-12 medium-4">3</div>
    </div>
    <%- include base/javascripts.ejs %>
</body>
</html>
