<!doctype html>
<!--[if lte IE 8]><html class="ie8"><![endif]-->
<!--[if !IE]><!--><html data-ng-app="strikestarter" data-ng-controller="Global as glb" data-ng-model="glb"><!--<![endif]-->
<head lang="en-US">
    <base href="/">
    <title>StrikeStarter</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript">
        // TODO: Ensure this is appropriate when we determine the final home for the api
        var createURI = function (path) { return '//' + window.location.host + (path ? path : ''); };
    </script>
    <%- include base/stylesheets.ejs %>
</head>
<body>
    <sb-header></sb-header> 
    <div class="row">
        <ng-view></ng-view>
    </div>
    <%- include base/javascripts.ejs %>
</body>
</html>
