<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
    <title>Strike</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
    <p>Here is it. The start of the new UI.</p>
    <p>You need to load all the files needed for the angularjs app. Reference juniper's base and stylesheets.</p>
</body>
</html>
