<div id="signUp" class="reveal-modal" data-reveal>
  <form>
	  <div class="row">
	    <div class="small-8">
	      <div class="row">
	        <div class="small-3 columns">
	          <label for="email" class="right inline">Email</label>
	        </div>
	        <div class="small-9 columns">
	          <input type="text" id="email" placeholder="Email">
	        </div>
          </div>
	      <div class="row">
	        <div class="small-3 columns">
	          <label for="phone" class="right inline">Phone</label>
	        </div>
	        <div class="small-9 columns">
	          <input type="text" id="phone" placeholder="Phone">
	        </div>
	      </div>
	      <div class="row">
	        <div class="small-3 columns">
	          <label for="pass" class="right inline">Password</label>
	        </div>
	        <div class="small-9 columns">
	          <input type="password" id="pass">
	        </div>
	      </div>
	      <div class="row">
		      <label>Username will be...</label>
		      <input type="radio" name="username" value="email" id="username_email" checked><label for="username_email">Email</label>
		      <input type="radio" name="username" value="phone" id="username_phone"><label for="username_phone">Phone</label>
		  </div>
	      <div class="row">
	      	<div class="small-3 columns">
	          <a href="#" class="button postfix" id="join">Join</a>
	        </div>
	      </div>
	    </div>
	  </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>