<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Strike Back</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#" class="sign-in" data-reveal-id="myModal">Sign In</a></li>
      <li><a href="#" class="sign-up">Sign Up</a></li>
      <!--  <li class="has-dropdown">
         <a href="#">Right Button Dropdown</a>
         <ul class="dropdown">
           <li><a href="#">First link in dropdown</a></li>
           <li class="active"><a href="#">Active link in dropdown</a></li>
         </ul>
       </li> -->
    </ul>
</nav>