<div id="name"></div>
<div id="target"></div>
<div id="callToAction"></div>

<input type="text" placeholder="Email" id="email"></input>
<input type="text" placeholder="Phone" id="phone"></input>
<input type="text" placeholder="Password" id="password"></input>
<div id="join">Join</div>